.loader {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    
    border: solid 6px red;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}