.book-view-wrapper {
    background-color: #C4C4C4;  
    
    .book-image {
        width: 340px;
        height: 495px;
        background-repeat: no-repeat;
        background-size: 100% 100%; 
    }
    .desc {
        float: left;
        border: 1px solid black;
    }    
    .cost{
        button, p {
            display: inline-block;
        }
    }
    .star {
        height: 50px;
        width: 50px;
        display: inline-block;
    }
    .btn-success {
        margin: 0 0 0 20px;
    }
}