.header {
	min-height: 120px;
	width: 100%;
	background-color: #5C5C5C;
	.logo {
		width: 100px;
		height: 100px;
		display: inline-block;
		margin-top: 10px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.search {
		display: inline-block;
		padding-top: 35px;

		input {
			width: 60%;
			font-size: 30px;
			background-color: lightgrey;
			border-radius: 12px;
			outline-style: none;
			box-shadow: none;
		}
	}
	.accoundBlock {
		padding-top: 10px;

		.cart, .account {
			width: 45px;
			height: 45px;
			display: inline-block;
			margin: 15px 25px 0 0;
			background-size: 100%;
			background-repeat: no-repeat;
			transition: 0.3s;
		}
		.account {
			position: relative;
		}
		.cart:hover {
			width: 50px;
			height: 50px;
			transition: 0.3s;
		}
		.account:hover {
			width: 50px;
			height: 50px;
			transition: 0.3s;
		}
		.accountStatus {
			position: absolute;
			text-align: center;
			left: 5px;
		}
		.menuUser{
			display: none;
			position: absolute;
			top: 81px;
			left: -42px;
			width: 140px;
			z-index: 1;
		}
		.pUserName {
			margin: 5px 0 0 -15px;
			width: 100px;
		}
		.pUserName:hover + .menuUser {
    		display: block;
		}
		.menuUser:hover {
			display: block;
		}
	}
	@media screen and (max-width: 750px) {
		.logo {
			width: 50px;
			height: 50px;
			margin-left: 35%;
		}
		input {
			margin-left: 5%;
		}
		.accoundBlock {
			margin-left: 35%;
		}
	}

}